.container {
	display: grid;
}

.myId {
	border: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
	background: #031d4f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0c0616, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#060810e6,
		#061022
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: grid;
	width: 250px;
	height: 300px;
}

.call-button {
	text-align: center;
	margin-top: 70px;
}

.video-container {
	display: grid;
}

.videoElementIn{
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
	border: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
	width: 250px;
}

.videoElementOut{
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
	border: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
	background: #031d4f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0c0616, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#060810e6,
		#061022
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 950px;
	height: 550px;
}

.head{
	background-color: rgb(255, 255, 255);
	height: 80px;
	border-radius: 10px;
	
	
}
.header{
	margin: 15px;
	/* margin-left: 90px; */

}
.img{
	margin: 30px;
	width: 200px;
}
.title{
	/* margin-left:-20px; */
	
}
.videoicon{
	position: absolute;
	top:-75px;
	/* opacity: 0; */
	/* z-index: -1; */
}
.titlehead{
	font-size: 1rem;
	font-weight: 800;
}
.subtitle{
	font-size: 1rem;
	font-weight: 500;
}


@media screen and (max-width:1500px){
	.videoElementIn {
	margin-top: 1px;
    width: 300px;
  }
  .videoElementOut {
    width: 915px;
  }
  .myId {
	width: 150px;
}
}

.caller {
	margin-top: 30px;
	width: 400px;
	height: 75px;
}
.callerData {
	margin-top: -20px;
}
.img{
	margin: 30px;
	width: 200px;
}
.titlehead{
	font-size: 1rem;
	font-weight: 800;
}

.body-video{
	background: #fdfdfd; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fff3c7, #ffe1c3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fbedc2,
		#fff4d2
	);
	 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width:1200px){
	.videoElementIn {
	margin-top: 10px;
    width: 150px;
  }
  .videoElementOut {
    width: 500px;
  }
  .myId {
	width: 150px;
}

.head{
	height: 60px;
}
.img{
	margin: 30px;
	width: 150px;
}
.head{
	height: 70px;
	width: 80px;

}
.titlehead{
	font-size: 1rem;
	font-weight: 800;
}
}


@media screen and (max-width:768px){
	.videoElementIn {
	margin-top: 10px;
    width: 150px;
  }
  .videoElementOut {
    width: 300px;
  }
  .myId {
	width: 150px;
}

.head{
	height: 40px;
}
.img{
	margin: 30px;
	width: 80px;
}
.head{
	height: 60px;
	width: 95px;

}
.subtitle{
	font-size: .8rem;
	font-weight: 500;
}
.titlehead{
	font-size: .8rem;
	font-weight: 800;
}

}
@media screen and (max-width: 480px) {
  .videoElementIn {
    width: 100px;
  }
  .videoElementOut {
    width: 250px;
	height: 400px;
  }
  .myId {
	width: 100px;
	height: 230px;
}
.caller {
	width: 300px;

}
.call-button {
	margin-top: 40px;
}

.head{
	height: 30px;
}
.img{
	margin: 30px;
	width: 60px;
}
.head{
	height: 50px;
	width: 100px;

}
.subtitle{
	font-size: .6rem;
	font-weight: 500;
}
.titlehead{
	font-size: .7rem;
	font-weight: 800;
}
}
