# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
/patient_web/node_modules
/patient_web/.pnp
.pnp.js

# testing
/web/coverage
/patient_web/coverage

# production
/web/build
/patient_web/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Django
/.venv
/core/.env
/core/.idea
/core/core/__pycache__
/core/doctors/__pycache__
/core/doctors/migrations
/core/official/__pycache__
/core/official/migrations
/core/patients/__pycache__
/core/patients/migrations
/core/consultation/__pycache__
/core/consultation/migrations

#Server
server/node_modules
