.container {
	display: grid;
}

.myId {
	border: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
	background: #f5f6f6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0c0616, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#060810e6,
		#061022
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: grid;
	width: 250px;
	height: 300px;
	
}

.call-button {
	text-align: center;
	margin-top: 70px;
}

.video-container {
	display: grid;
}

.videoElementIn{
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
	border: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
	width: 250px;
}

.videoElementOut{
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
	border: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
	background: #031d4f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0c0616, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#060810e6,
		#061022
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 950px;
	height: 550px;
}

@media screen and (max-width:1500px){
	.videoElementIn {
	margin-top: 10px;
    width: 150px;
  }
  .videoElementOut {
    width: 800px;
  }
  .myId {
	width: 150px;
}
}

.caller {
	margin-top: 30px;
	width: 400px;
	height: 75px;
}
.callerData {
	margin-top: -20px;
}

.body-video {
	background: #031d4f; 
	background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); 
	background: linear-gradient(
		to right,
		#031d4f,
		#010f29
	); 
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width:1200px){
	.videoElementIn {
	margin-top: 10px;
    width: 150px;
  }
  .videoElementOut {
    width: 500px;
  }
  .myId {
	width: 150px;
}
}


@media screen and (max-width:768px){
	.videoElementIn {
	margin-top: 10px;
    width: 150px;
  }
  .videoElementOut {
    width: 300px;
  }
  .myId {
	width: 150px;
}

}
@media screen and (max-width: 480px) {
  .videoElementIn {
    width: 100px;
  }
  .videoElementOut {
    width: 250px;
	height: 400px;
  }
  .myId {
	width: 100px;
	height: 230px;
}
.caller {
	width: 300px;

}
.call-button {
	margin-top: 40px;
}
}
