.sidebar-wrapper {
  background-color: #f8f9fa;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 10%;
}

.content-wrapper {
 width: 90%;
  padding-top: 3rem;
}


@media (min-width: 992px) {
  .mobile-row {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .sidebar-wrapper {
    width: 20%;
    float: left;
  }

  .content-wrapper {
    width: 80%;
    float: right;
  }
}
